{{#each chats}}
<div>
<spam style="color:blue; font-weight: bold ">{{this.userMail}}</spam>
<spam style="color:brown;">{{this.date}}</spam>
<spam style="color:green; font-style: italic;">: {{this.textChat}}</spam>
</div>
{{/each}}